@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-white dark:bg-slate-950 text-slate-900 dark:text-slate-100;
  }
}

@layer utilities {
  .container {
    @apply max-w-7xl mx-auto;
  }
}

